<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>美食</key>
	<array>
		<string>中餐</string>
		<string>火锅</string>
		<string>烧烤</string>
		<string>其他美食</string>
		<string>汤/粥/煲/砂锅/炖菜</string>
		<string>快餐</string>
		<string>休闲食品</string>
		<string>小吃</string>
		<string>休闲茶饮</string>
		<string>烘焙糕点</string>
	</array>
	<key>超市便利店</key>
	<array>
		<string>超市</string>
		<string>个人护理</string>
		<string>便利店</string>
		<string>烟酒杂货</string>
		<string>自动售卖机</string>
	</array>
	<key>K歌</key>
	<array>
		<string>KTV</string>
		<string>录音棚</string>
		<string>迷你KTV</string>
	</array>
	<key>休闲娱乐</key>
	<array>
		<string>棋牌休闲</string>
		<string>中医养生</string>
		<string>足疗按摩</string>
		<string>洗浴/桑拿会所</string>
		<string>网吧网咖</string>
		<string>动物园/游乐园</string>
		<string>游乐游乐</string>
		<string>手工DIY</string>
		<string>图书馆</string>
		<string>密室</string>
		<string>桌面游戏</string>
		<string>cs拓展</string>
		<string>文化艺术</string>
	</array>
	<key>美发/美容/美甲</key>
	<array>
		<string>美甲/手护</string>
		<string>SPA/美容/美体</string>
		<string>美容美发</string>
		<string>美容美甲</string>
		<string>美发美甲</string>
		<string>美发</string>
		<string>彩妆造型</string>
		<string>美睫</string>
		<string>产后塑形</string>
		<string>纹绣</string>
		<string>纹身</string>
		<string>祛痘</string>
		<string>整形</string>
	</array>
	<key>运动健身</key>
	<array>
		<string>篮球场</string>
		<string>舞蹈</string>
		<string>网球场</string>
		<string>乒乓球馆</string>
		<string>游泳馆</string>
		<string>羽毛球馆</string>
		<string>桌球馆</string>
		<string>瑜伽</string>
		<string>足球场</string>
		<string>武术场馆</string>
		<string>溜冰场</string>
		<string>保龄球馆</string>
		<string>壁球场</string>
		<string>排球场</string>
		<string>高尔夫球场</string>
		<string>体育场馆</string>
		<string>健身中心</string>
		<string>射箭</string>
		<string>马术</string>
		<string>滑雪</string>
	</array>
	<key>宠物</key>
	<array>
		<string>宠物店</string>
		<string>宠物医院</string>
	</array>
	<key>结婚</key>
	<array>
		<string>婚礼策划</string>
		<string>婚纱/礼服</string>
		<string>婚车租赁</string>
	</array>
	<key>摄影</key>
	<array>
		<string>婚纱摄影</string>
		<string>儿童摄影</string>
		<string>孕妇摄影</string>
		<string>艺术写真</string>
		<string>跟拍</string>
		<string>证件照</string>
		<string>商业摄影</string>
	</array>
	<key>亲子</key>
	<array>
		<string>亲子游玩</string>
		<string>亲子游泳</string>
		<string>科普场馆</string>
		<string>亲子DIY</string>
		<string>早教中心</string>
		<string>少儿外语</string>
		<string>少儿才艺</string>
		<string>亲子服务</string>
		<string>产后恢复</string>
		<string>月子服务</string>
		<string>小儿推拿</string>
		<string>少儿运动</string>
	</array>
	<key>洗衣</key>
	<array>
		<string>洗衣家纺</string>
		<string>鞋帽清洗</string>
		<string>奢侈品养护</string>
		<string>自助洗衣</string>
	</array>
	<key>书店</key>
	<array/>
</dict>
</plist>
