<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>中餐</key>
	<array>
		<string>川菜</string>
		<string>湘菜</string>
		<string>湖北菜</string>
		<string>台湾菜</string>
		<string>新疆菜</string>
		<string>江浙菜</string>
		<string>云南菜</string>
		<string>贵州菜</string>
		<string>西北菜</string>
		<string>东北菜</string>
		<string>香锅/烤鱼</string>
		<string>海鲜</string>
		<string>其它地方菜</string>
		<string>粤菜</string>
		<string>海南菜</string>
		<string>鲁菜</string>
		<string>徽菜</string>
		<string>晋菜</string>
		<string>豫菜</string>
		<string>闽菜</string>
		<string>上海本帮菜</string>
		<string>淮扬菜</string>
	</array>
	<key>火锅</key>
	<array>
		<string>麻辣烫/串串香</string>
		<string>川味/重庆火锅</string>
		<string>云南火锅</string>
		<string>老北京涮羊肉</string>
		<string>港式火锅</string>
		<string>鱼火锅</string>
		<string>羊蝎子</string>
		<string>炭火锅</string>
		<string>韩式火锅</string>
		<string>豆捞</string>
		<string>其它火锅</string>
	</array>
	<key>烧烤</key>
	<array>
		<string>中式烧烤</string>
		<string>拉美烧烤</string>
		<string>日式烧烤</string>
		<string>铁板烧</string>
		<string>韩式烧烤</string>
		<string>其它烧烤</string>
	</array>
	<key>其他美食</key>
	<array>
		<string>自助餐</string>
		<string>创意菜</string>
		<string>西餐</string>
		<string>日韩料理</string>
		<string>东南亚菜</string>
		<string>素食</string>
		<string>其他餐饮美食</string>
		<string>清真菜</string>
		<string>茶餐厅</string>
		<string>土菜/农家菜</string>
		<string>采摘/农家乐</string>
	</array>
	<key>汤/粥/煲/砂锅/炖菜</key>
	<array>
		<string>粥</string>
		<string>汤</string>
		<string>砂锅/煲类/炖菜</string>
		<string>其它</string>
	</array>
	<key>快餐</key>
	<array>
		<string>西式快餐</string>
		<string>中式快餐</string>
		<string>其它快餐</string>
	</array>
	<key>休闲食品</key>
	<array>
		<string>零食</string>
		<string>生鲜水果</string>
		<string>其它休闲食品</string>
		<string>美食特产</string>
	</array>
	<key>小吃</key>
	<array>
		<string>熟食</string>
		<string>面点</string>
		<string>米粉/米线</string>
		<string>其它小吃</string>
	</array>
	<key>休闲茶饮</key>
	<array>
		<string>咖啡</string>
		<string>奶茶</string>
		<string>冰激凌</string>
		<string>饮品/甜点</string>
		<string>咖啡厅</string>
		<string>酒吧</string>
	</array>
	<key>烘焙糕点</key>
	<array>
		<string>蛋糕</string>
		<string>面包</string>
		<string>其它烘焙糕点</string>
	</array>
	<key>超市</key>
	<array/>
	<key>个人护理</key>
	<array/>
	<key>便利店</key>
	<array/>
	<key>烟酒杂货</key>
	<array/>
	<key>自动售卖机</key>
	<array/>
	<key>KTV</key>
	<array>
		<string>量贩式KTV</string>
		<string>会所型KTV</string>
	</array>
	<key>录音棚</key>
	<array/>
	<key>迷你KTV</key>
	<array/>
	<key>棋牌休闲</key>
	<array/>
	<key>中医养生</key>
	<array/>
	<key>足疗按摩</key>
	<array/>
	<key>洗浴/桑拿会所</key>
	<array/>
	<key>网吧网咖</key>
	<array/>
	<key>动物园/游乐园</key>
	<array>
		<string>动植物园</string>
		<string>海洋馆</string>
		<string>游乐园</string>
	</array>
	<key>游乐游乐</key>
	<array/>
	<key>手工DIY</key>
	<array/>
	<key>图书馆</key>
	<array/>
	<key>密室</key>
	<array/>
	<key>桌面游戏</key>
	<array/>
	<key>cs拓展</key>
	<array/>
	<key>文化艺术</key>
	<array>
		<string>博物馆</string>
		<string>美术馆</string>
		<string>科技馆</string>
		<string>蜡像馆</string>
	</array>
	<key>美甲/手护</key>
	<array/>
	<key>SPA/美容/美体</key>
	<array/>
	<key>美容美发</key>
	<array/>
	<key>美容美甲</key>
	<array/>
	<key>美发美甲</key>
	<array/>
	<key>美发</key>
	<array/>
	<key>彩妆造型</key>
	<array/>
	<key>美睫</key>
	<array/>
	<key>产后塑形</key>
	<array/>
	<key>纹绣</key>
	<array/>
	<key>纹身</key>
	<array/>
	<key>祛痘</key>
	<array/>
	<key>整形</key>
	<array/>
	<key>篮球场</key>
	<array/>
	<key>舞蹈</key>
	<array/>
	<key>网球场</key>
	<array/>
	<key>乒乓球馆</key>
	<array/>
	<key>游泳馆</key>
	<array/>
	<key>羽毛球馆</key>
	<array/>
	<key>桌球馆</key>
	<array/>
	<key>瑜伽</key>
	<array/>
	<key>足球场</key>
	<array/>
	<key>武术场馆</key>
	<array/>
	<key>溜冰场</key>
	<array/>
	<key>保龄球馆</key>
	<array/>
	<key>壁球场</key>
	<array/>
	<key>排球场</key>
	<array/>
	<key>高尔夫球场</key>
	<array/>
	<key>体育场馆</key>
	<array/>
	<key>健身中心</key>
	<array/>
	<key>射箭</key>
	<array/>
	<key>马术</key>
	<array/>
	<key>滑雪</key>
	<array/>
	<key>宠物店</key>
	<array/>
	<key>宠物医院</key>
	<array/>
	<key>婚礼策划</key>
	<array/>
	<key>婚纱/礼服</key>
	<array/>
	<key>婚车租赁</key>
	<array/>
	<key>婚纱摄影</key>
	<array>
		<string>全球旅拍</string>
		<string>本地婚纱摄影</string>
	</array>
	<key>儿童摄影</key>
	<array/>
	<key>孕妇摄影</key>
	<array/>
	<key>艺术写真</key>
	<array/>
	<key>跟拍</key>
	<array/>
	<key>证件照</key>
	<array/>
	<key>商业摄影</key>
	<array/>
	<key>亲子游玩</key>
	<array/>
	<key>亲子游泳</key>
	<array/>
	<key>科普场馆</key>
	<array/>
	<key>亲子DIY</key>
	<array/>
	<key>早教中心</key>
	<array/>
	<key>少儿外语</key>
	<array/>
	<key>少儿才艺</key>
	<array/>
	<key>亲子服务</key>
	<array/>
	<key>产后恢复</key>
	<array/>
	<key>月子服务</key>
	<array/>
	<key>小儿推拿</key>
	<array/>
	<key>少儿运动</key>
	<array/>
	<key>洗衣家纺</key>
	<array/>
	<key>鞋帽清洗</key>
	<array/>
	<key>奢侈品养护</key>
	<array/>
	<key>自助洗衣</key>
	<array/>
</dict>
</plist>
